/*
Green: #0A8754
Black: #080F0F
Red: #B20D30
White: #F0F7F4
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

html {
    background: rgb(190, 190, 190);
}

body {
    margin: auto;
    padding: 0;
}

html, body {
    /*height: 100%;*/
}

header {
    background: #202020;
    padding: 0; 
    border-top: 1px solid #202020;
    padding-top: 28px;
}

h1 {
    color: #F0F7F4;
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 1rem;
    padding-bottom: 5px;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
}

p {
    font-family: 'Optima', Optima, sans-serif;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 10px;
    margin: 0;
}

a, a:visited {
    color: #B20D30;
}

.content {
    padding: 1px 30px 20px 20px;
    margin: auto;
    background: white;
    position: static;
    width: 80%;
}
/**********************
*    Dropdown Menu    *
* From css-tricks.com *
***********************/
nav a {
    text-decoration: none;
}

nav {
    margin-bottom: 35px;
    font-family: 'Optima', Optima, sans-serif;
    font-size: 14px;
}

nav ul {
    background: #B20D30;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    color: #ffff;
    background: #B20D30;
    display: inline-block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav li a, nav li a:visited {
    color: #ffff;
}

nav li:hover, nav li:focus-within {
    background: #880924;
    cursor: pointer;
}

nav li:focus-within {
    outline: none;
}

nav ul li ul{
    background: #880924;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;

    left: 0;
    display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav ul li ul li{
    clear: both;
    width: 100%;
    z-index: 1;
}