html {
  /* Basic Colours */
  --white: #fff;
  --light-grey: #e0e0e0;
  /* Text Colours */
  --special-color: rgb(155, 155, 155);
  --p-color: rgb(36, 36, 36);
  --h1-color: black;
  --h4-color: rgb(61, 61, 61);
  /* Sizing */
  --spacer-height: 70px;
  /* HTML Styling*/
  min-width: 300px;
}

body {
  margin: 0;
}

/*************************
*     Navigation Bar     *
**************************/

#nav {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 10vh;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 2px 10px var(--light-grey);
}

#nav a {
  text-align: center;
  margin: 0 10px;
  padding: 20px;
  color: var(--p-color);
  justify-content: center;
}

/*************************
*      Main Content      *
**************************/

/*Wraps all content inside body*/
#content-wrapper {
  border-radius: 16px;

  line-height: 2.4em;

  padding: 5vh 6vw;
  margin: 0 10vw;
}

/*Elements*/

h1 {
  color: var(--h1-color);
  margin: 5px;
  text-align: left;
}

h2,
h3,
h4 {
  margin: 0;
  text-align: left;
}

p,
li {
  color: var(--p-color);
  font-size: 20px;
  text-align: left;
}

p {
  margin-bottom: 20px;
}

img {
  margin: 15px 0;
  max-width: 100%;
  box-shadow: 0 2px 10px var(--light-grey);
}

/*  For Mobile */
/*.column {
}*/

.project {
  margin: 10px 0;
  padding: 30px;
  height: 350px;
  background-color: rgb(122, 149, 166);
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word; /* Truncates project text */
  line-height: 1.8em;
}

.project-thumbnail {
  padding-bottom: 1em;
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  box-shadow: none;
}

.post {
  margin: 10px 0;
  padding: 3px 20px;
  height: 250px;
  background-color: rgb(122, 149, 166);
  border-radius: 5px;
  overflow: hidden;
  word-wrap: break-word;
  line-height: normal;
}

.post h4 {
  color: var(--h4-color, black);
}

/* For Desktop */
@media only screen and (min-width: 940px) {
  #nav {
    padding-right: 20vw;
  }

  /*****   COLUMNS   *****/
  .column,
  .one-third,
  .two-thirds {
    margin: 0;
  }

  .column {
    box-sizing: border-box; /* Tells browser to include border & padding in width */
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
  }

  .one-third {
    margin: 0;
    padding: 0;
    width: 32%;
    max-width: 33%;
    text-align: center;
  }

  .two-thirds {
    width: 66%;
    max-width: 66%;
  }

  .project {
    margin: 10px;
    padding: 20px 30px;
    background-color: rgb(122, 149, 166);
    border-radius: 5px;
    line-height: normal;
    font-size: 10px;
  }

  .project-thumbnail {
    min-width: 90%;
    padding-bottom: 1em;
  }

  .post {
    margin: 0 0.8em;
    padding: 30px 20px;
    height: 250px;
    background-color: rgb(122, 149, 166);
    border-radius: 5px;
  }
}

/*****   SHAPES & SPACERS  *****/
.line {
  width: 100%;
  height: 2px;
  background-color: rgba(95, 95, 95, 0.4);
  margin-bottom: 25px;
}

.spacer {
  width: 100%;
  height: var(--spacer-height, 50px);
}
