html {
  /* Basic Colours */
  --dark: rgb(19, 21, 24);
  --white: #fff;
  --light-grey: #e0e0e0;
  --accent: rgb(255, 124, 17);
  /* Text Colours */
  --h1-color: rgb(255, 255, 255);
  --h4-color: rgb(228, 228, 228);
  --p-color: rgb(179, 179, 179);
  --special-color: rgb(155, 155, 155);
  /* Sizing */
  --spacer-height: 70px;
  /* HTML Styling*/
  background-color: var(--dark);
  min-width: 300px;
}

body {
  margin: 0;
}

/*************************
*     Navigation Bar     *
**************************/

nav {
  padding-left: 8vw;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: var(--dark);
  box-shadow: 0 2px 10px rgb(15, 15, 15);
}

nav a {
  text-decoration: none;
  text-align: center;
  padding: 25px 30px;
  color: var(--p-color);
  justify-content: center;
}

nav a:hover {
  color: var(--accent);
  background-color: rgba(0, 0, 0, 0.2);
}

/*************************
*      Main Content      *
**************************/

/*Elements*/

h1 {
  color: var(--h1-color);
  margin: 5px 5px 15px 5px;
  text-align: left;
}

h2,
h3,
h4 {
  color: rgb(90, 90, 90);
  margin: 4em 0 0 0;
  text-align: left;
}

p,
li {
  color: var(--p-color);
  font-size: 20px;
  text-align: left;
}

p {
  margin-bottom: 20px;
}

a {
  color: var(--accent, orange);
}

img {
  margin: 15px 0;
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(62, 67, 75, 0.1);
}

/*Wraps all content inside body*/
#content-wrapper {
  border-radius: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 450;
  line-height: 2.4em;
  padding: 5vh 6vw;
  margin: 4vw;
}

/*  For Mobile */

/* For Desktop */
@media only screen and (min-width: 940px) {
  #nav {
    padding-right: 20vw;
  }
  
  .about-container {
    display: flex;
    align-items: stretch;
  }

  .about-text {
    margin-right: 100px;
    flex-shrink: 1.4;
  }

  .about-image {
  }

  /*****   Project Preview   *****/

  .project-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .project-container div {
    margin-left: 18px;
    margin-right: 18px;
  }

  .project-container img {
    margin: 0;
  }

  .project-container p {
    margin: 20px;
  }

  .project {
    background-color: rgba(62, 67, 75, 0.1);
    border-radius: 5px;
    line-height: normal;
    font-size: 10px;
  }

  .project-thumbnail {
  }

/*****   SHAPES & SPACERS  *****/
.line {
  width: 100%;
  height: 2px;
  background-color: rgba(95, 95, 95, 0.4);
  margin-bottom: 25px;
}

.spacer {
  width: 100%;
  height: var(--spacer-height, 50px);
}
