html {
  /* Basic Colours */
  --white: #fff;
  --light-grey: #e0e0e0;
  /* Dark Palette */
  --dark-c: #000814;
  --mid-c: #001d3d;
  --light-c: #f6e9b2;
  --accent-c: #ffd60a;
  --dark-accent-c: #ffc300;
  /* Sizing */
  --spacer-height: 70px;
  /* HTML Styling*/
  background-color: var(--dark-c);
  min-width: 300px;
}

body {
  margin: 0;
}

/*************************
*     Navigation Bar     *
**************************/

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--mid-c);
  box-shadow: 0 2px 10px var(--dark-c);
  color: var(--light-grey);
}

#nav ul {
  /* Styles list */
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 70%;
}

#nav li {
  /* Displays list horizontally */
  display: inline;
}

/*************************
*      Main Content      *
**************************/

/*Wraps all content inside body*/
#content-wrapper {
  background-color: var(--mid-c, #fff);
  border-radius: 16px;

  color: var(--light-grey);
  line-height: 3em;

  padding: 5vh 6vw;
  margin: 20vh 10vw 8vh 10vw;
}

/*Elements*/

h1,
h2,
h3,
h4 {
  color: var(--dark-accent-c);
  margin: 0;
  text-align: left;
}

h1 {
  margin: 5px;
}

p {
  margin: 0;
  color: var(--light-grey);
  font-size: 20px;
  text-align: left;
}

img {
  max-width: 100%;
}

/*  For Mobile */
/*.column {
}*/

.project {
  margin: 10px 0;
  padding: 30px;
  height: 350px;
  background-color: rgb(122, 149, 166);
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word; /* Truncates project text */
  line-height: 1.8em;
}

.project-thumbnail {
  padding-bottom: 1em;
  display: inline-block;
  vertical-align: middle;
  height: 200px;
}

.post {
  margin: 10px 0;
  padding: 3px 20px;
  height: 250px;
  background-color: rgb(122, 149, 166);
  border-radius: 5px;
  overflow: hidden;
  word-wrap: break-word;
  line-height: normal;
}

.post h4 {
  color: var(--dark-c, black);
}

/* For Desktop */
@media only screen and (min-width: 940px) {
  /*****   COLUMNS   *****/
  .column,
  .one-third,
  .two-thirds {
    margin: 0;
  }

  .column {
    box-sizing: border-box; /* Tells browser to include border & padding in width */
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
  }

  .one-third {
    margin: 0;
    padding: 0;
    width: 32%;
    max-width: 33%;
    text-align: center;
  }

  .two-thirds {
    width: 66%;
    max-width: 66%;
  }

  .project {
    margin: 10px;
    padding: 20px 30px;
    background-color: rgb(122, 149, 166);
    border-radius: 5px;
    line-height: normal;
    font-size: 10px;
  }

  .project-thumbnail {
    min-width: 90%;
    padding-bottom: 1em;
  }

  .post {
    margin: 0 0.8em;
    padding: 30px 20px;
    height: 250px;
    background-color: rgb(122, 149, 166);
    border-radius: 5px;
  }
}

/*****   SHAPES & SPACERS  *****/
.line {
  width: 100%;
  height: 1px;
  background-color: var(--light-grey, lightgray);
  margin-bottom: 25px;
}

.spacer {
  width: 100%;
  height: var(--spacer-height, 50px);
}
